.rightSide {
  display: flex;
  flex-direction: column;
  line-height: 12px;
  margin-left: 10px;
  margin-top: 15px;
}

.ProfileInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}

.ProfileImage {
  background-color: black;
  color: white;
  font-size: 45px !important;
  border-radius: 100%;
}

.name {
  font-size: 24px;
  margin-bottom: 5px;
}

.email {
  font-size: 12px;
  margin-bottom: 5px;
}
