.rightSide {
  display: none;
}

@media screen and (min-width: 400px) {
  .rightSide {
    display: flex;
    flex-direction: column;
    line-height: 12px;
    margin-left: 10px;
    margin-top: 15px;
  }
}

.ProfileInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}

.header-logo {
  height: 2rem;
  width: auto;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  margin-top: 0.5rem;
}

.header-logo:hover {
  filter: drop-shadow(0 2px 2px lightgray);
  margin-left: 5px;
  margin-right: 5px;
}

.name {
  font-size: 24px;
  margin-bottom: 5px;
}

.email {
  font-size: 12px;
  margin-bottom: 5px;
}
