.drawer-custom .select-input {
  width: 100%;
  margin: 10px auto;
}

.hidden {
  display: none;
}

.drawer-custom .ant-drawer-content-wrapper {
  width: 500px;
}

@media only screen and (max-width: 768px) {
  .drawer-custom .ant-drawer-content-wrapper {
    width: 100%;
  }
}
