@import '~antd/dist/antd.css';

* {
  font-family: 'Google Sans', sans-serif;
  user-select: none !important;
}

#root {
  width: 100%;
  height: 100%;
  background: rgb(210, 31, 241);
  background: linear-gradient(135deg, rgba(210, 31, 241, 1) 0%, rgba(130, 51, 232, 1) 49%, rgba(0, 212, 255, 1) 100%);
}

.protected-view-loading svg {
  width: 50px !important;
  height: auto !important;
  color: white !important;
}

.profile-loading svg {
  width: 50px !important;
  height: auto !important;
  color: rgb(38, 27, 190) !important;
}
