.join-class-page {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(210, 31, 241);
  background: linear-gradient(135deg, rgba(210, 31, 241, 1) 0%, rgba(130, 51, 232, 1) 49%, rgba(0, 212, 255, 1) 100%);
}

.title {
  color: white;
  font-size: 3.8rem;
  margin-top: 20px !important;
  text-align: center;
  font-weight: 400;
}

.join-card {
  width: 75%;
  margin-top: 10px;
  margin-bottom: 50px !important;
  border-radius: 15px !important;
}

.tag-line {
  color: white;
  font-size: 1.2rem;
  margin: 0 !important;
  margin-top: -15px !important;
  text-align: center;
  font-weight: 100;
}

.join-card * {
  transition: all ease-in-out 0.3s;
}

.join-class-table {
  margin-top: 20px !important;
}

.class-modal .ant-modal-content,
.ant-modal-header {
  border-radius: 15px !important;
}

.list-header {
  font-weight: 500;
  font-size: 16px;
}

.icon-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 20px 0;
}

.add-distance {
  margin-top: 5px !important;
}

.join-class-label {
  margin: 0;
  margin-top: 15px !important;
  margin-bottom: 5px !important;
  font-size: 16px !important;
}

.join-class-label span {
  font-weight: 600;
}
