.EventSummary {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: regular;
  font-size: 25px;
  margin-bottom: 12px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
}

.course {
  font-size: 22px;
}
