.select-input {
  width: 100% !important;
  margin: 10px auto !important;
}

.hidden {
  display: none;
}

.ant-drawer-body {
  height: 90%;
}

#chat-panel {
  overflow-y: auto !important;
  height: 50% !important;
  max-height: 50% !important;
}

.view-event-container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.discussion-container {
  flex: 1;
  max-height: 80%;
}
