body .select-input {
  width: 100%;
  margin: 10px auto;
}

.hidden {
  display: none;
}

.ant-drawer-body {
  height: 90%;
}

.view-event-container #chat-panel {
  overflow-y: auto;
  height: 50%;
  max-height: 50%;
}

.view-event-container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.discussion-container {
  flex: 1;
  max-height: 80%;
}

.drawer-custom .ant-drawer-content-wrapper {
  width: 500px !important;
}

@media only screen and (max-width: 768px) {
  body .drawer-custom .ant-drawer-content-wrapper {
    width: 100% !important;
  }
}
