.create-class-page {
  width: 100%;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
  background: rgb(210, 31, 241);
  background: linear-gradient(135deg, rgba(210, 31, 241, 1) 0%, rgba(130, 51, 232, 1) 49%, rgba(0, 212, 255, 1) 100%);
}

.title {
  color: white;
  font-size: 3.8rem;
  margin-top: 20px;
  padding: 60px;
  text-align: center;
  font-weight: 400;
}

.create-class-page .tag-line {
  color: white;
  font-size: 1.2rem;
  margin: 0;
  margin-top: -15px;
  text-align: center;
  font-weight: 100;
}

.create-class-page .create-card {
  width: 95vw;
  margin-top: 10px;
  border-radius: 15px;
}

.create-card .create-class-input {
  margin-top: 7.5px;
}

@media screen and (min-width: 768px) {
  .create-class-page .create-card {
    width: 500px;
  }
}

.create-class-page .create-class-days-label {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 16px;
}

.create-class-page .create-class-days-hint {
  margin: 0;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  font-size: 12px;
  color: darkgray;
}

.create-class-page .create-class-days-error {
  margin: 0;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  font-size: 12px;
  color: darkred;
  text-align: center;
}

.create-class-days label {
  width: 110px;
}

.time-container {
  display: flex;
  align-items: center;
}
