
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.home .title {
  color: white;
  font-size: 4.3rem;
  margin: 0;
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
}

.home .tag-line {
  color: white;
  font-size: 1.2rem;
  margin: 0;
  margin-top: -15px;
  text-align: center;
  font-weight: 100;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home .about-card {
  width: 400px;
  margin-top: 10px;
  border-radius: 15px;
  filter: drop-shadow(0 1px 2px rgba(190, 190, 190, 0.5));
}

.home .ant-card {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 769px) {
  .about-card {
    width: 95vw;
  }
}

.home .home-button {
  border-radius: 15px;
  margin-top: 10px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 769px) {
  .home .home-button {
    width: 95vw;
  }
}
