
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(210, 31, 241);
  background: linear-gradient(135deg, rgba(210, 31, 241, 1) 0%, rgba(130, 51, 232, 1) 49%, rgba(0, 212, 255, 1) 100%);
}

.title {
  color: white;
  font-size: 4.3rem;
  margin: 0 !important;
  margin-top: 10px !important;
  text-align: center;
  font-weight: 400;
}

.tag-line {
  color: white;
  font-size: 1.2rem;
  margin: 0 !important;
  margin-top: -15px !important;
  text-align: center;
  font-weight: 100;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-card {
  width: 400px;
  margin-top: 10px;
  border-radius: 15px;
  filter: drop-shadow(0 1px 2px rgba(190, 190, 190, 0.5));
}

.home-button {
  border-radius: 15px;
  margin-top: 10px;
  width: 400px;
}
