.profile-page {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.profile-card {
  flex: 1;
  height: fit-content !important;
  margin: 0 10px !important;
  border-radius: 15px !important;
  filter: drop-shadow(0 1px 2px rgba(190, 190, 190, 0.5));
}

.profile-card .cust-button,
.cust-input {
  margin-top: 10px !important;
}

.profile-card .cust-input {
  border-radius: 15px !important;
}

.profile-card .cust-button {
  border-radius: 15px !important;
}

.center-loading-icon {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.academics-subtitle {
  margin: 0;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 500;
  margin-bottom: 7.5px;
}

.ant-modal-body {
  max-height: 50vh !important;
  overflow-y: auto !important;
}
